@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./utilities.scss";
@import "./loaders.scss";

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
  font-family: 'Roboto', sans-serif;
}

main {
  flex-grow: 1;
}

.cursor-pointer {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.divider-line {
  height: 2px;
  width: 60%;
  background-color: rgba(84, 83, 83, 0.121);
  margin: auto;
}

.masonry-frame {
  columns: 1;

  div {
    break-inside: avoid;
  }
}

@media (max-width: 12000px) {
  .masonry-frame {
    columns: 5;
    margin-bottom: 2rem;

    div {
      break-inside: avoid;
    }
  }
}

@media (max-width: 1600px) {
  .masonry-frame {
    columns: 4;
    margin-bottom: 2rem;

    div {
      break-inside: avoid;
    }
  }
}

@media (max-width: 1400px) {
  .masonry-frame {
    columns: 3;
    margin-bottom: 2rem;

    div {
      break-inside: avoid;
    }
  }
}

@media (max-width: 991px) {
  .masonry-frame {
    columns: 2;
    margin-bottom: 2rem;

    div {
      break-inside: avoid;
    }
  }
}

@media (max-width: 768px) {
  .masonry-frame {
    columns: 1;
    margin-bottom: 2rem;

    div {
      break-inside: avoid;
    }
  }
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      // border: 1px solid $success;
    }

    &:invalid {
      // border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}